.blog-sidebar{
  min-width: 300px;
  background: linear-gradient(#fbf8f5, #c5c5c5);
  margin-right: 5px;
  >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4{
      font-size: 1.5rem;
      text-align: center;
      padding: 20px 0;
      font-weight: 700;
      border-bottom: 1px solid;
    }
    .blog-wrap{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }

}
