
#footer {
    background: rgba(0, 128, 0, 0.9);
    padding: 60px 0;
    > div{
      display: flex;
      flex-direction: row;
      margin: 0 20px;
      .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        &.left{
          margin-right: 20px;
        }
        &.right{
          margin-left: 20px;
        }
        img{
          max-width: 150px;
          width: 100%;
        }
      }
      .footer-body{
        flex-grow: 1;
        background: #20232a;
        border-radius: 4px;
        display: flex;
        box-shadow: inset 0 0 5px black;
        > div{
          padding: 20px;
          width: 50%;
          &.info{
            display: flex;
            color:white;
            >div{
              width: 50%;
            }
            .company-info{

            }
          }
        }

      }
    }

  .copy{

  }
}

@media screen and (max-width: 767px) {
  #footer {

  }
}
