
#footer {
    background: green;
    padding: 60px 0;
    > div{
      display: flex;
      flex-direction: row;
      margin: 0 20px;
      .logo{
        &.left{
          margin-right: 20px;
        }
        &.right{
          margin-left: 20px;
        }
        display: flex
        img{
          max-width: 150px;
          width: 100%;
        }
      }
      .footer-body{
        flex-grow: 1;
        background: #20232a;
        border-radius: 4px;
      }
    }

  .copy{

  }
}

@media screen and (max-width: 767px) {
  #footer {

  }
}
