@import '../../sass/variables';

#header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #20232a;
  color: white;
  border-bottom: green solid 2px;
  z-index: 4;
  .menu-btn {
    position: absolute;
    right: 0;
    margin: 14px;
    top: 0;
    font-size: 1.5rem;
  }

  > div {
    align-items: center;
    margin: 0 40px;

    .logo {
      margin-right: auto;
      display: flex;

      h3 {
        font-size: 2rem;
        padding: 10px 0;
        font-weight: 100;
      }
    }

    .nav-wrapper {
      max-height: 0;
      transition: all 0.5s ease-out;
      overflow: hidden;
      opacity: 0;

      &.open {
        max-height: 500px;
        opacity: 1;
        transition: all 1s ease-out;
      }

      .navigation {
        > li {
          &:first-child {
            border-top: green solid 2px;
          }
        }

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          min-height: 40px;
          justify-content: center;
          font-weight: 200;
          border-top: green solid 1px;
          letter-spacing: 2px;
          cursor: pointer;

          .dropdown-btn {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            justify-content: space-between;
            max-width: 200px;
            min-height: 40px;

            p {
              margin-right: 20px;
              cursor: pointer;

              &:hover {
                text-shadow: white 0 0;
              }
            }

            i {
              padding: 10px;
              cursor: pointer;
              font-size: .5rem;

              &:hover {
                text-shadow: white 0 0;
              }
            }
          }

          ul {
            height: 0;
            width: 100%;
            transition: all 0.5s ease-in-out;
            overflow: hidden;

            &.open {
              height: 120px;
              background: #171d16;
              display: block;

              &.culture {
                height: 80px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 769px) {
  #header {
    > div {
      display: flex;

      .logo {
        h3 {}
      }
      .menu-btn{
        display: none;
      }
      .nav-wrapper {
        opacity: 1;
        max-height: 500px;
        overflow: unset;

        .navigation {
          display: flex;
          flex-direction: row;

          > li {
            position: relative;
            padding: 10px 0;
            &:hover {
              ul {
                height: 120px;
                background: #171d16;
                display: block !important;

                &.culture {
                  height: 80px;
                }
              }
            }

            &:first-child {
              border-top: none;
            }

            &:not(last-child) {
              margin-right: 20px;
            }
          }

          li {
            border-top: none;

            .dropdown-btn {
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: space-between;
              max-width: none;

              p {
                margin-right: 0;
              }

              i {
                padding: 10px;
              }
            }

            ul {
              position: absolute;
              overflow: hidden;
              width: 300px;
              top: 60px;

              li {
                border-top: green solid 1px;
              }
            }
          }
        }
      }
    }
  }
}
