#home {

  .grid-wrapper {
    margin: 10px;

    .grid {
      display: flex;
      width: 100%;
      flex-wrap: wrap;

      .animated {
        width: 100%;
        padding: 10px;

        > div {
          height: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 1.7rem;
          font-weight: 100;
          text-shadow:  0 1px 3px rgb(0, 0, 0), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgb(0, 0, 0);
          text-transform: uppercase;
          cursor: pointer;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          transition: all 0.5s ease-in-out;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0 1px 10px 0 rgb(0, 0, 0), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

          }

          &.clouds {
            background: linear-gradient(rgba(204, 160, 3, 0.8), rgba(0, 0, 0, 0.8)), url("/img/clouds.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }

          &.data {
            background: linear-gradient(rgba(0, 6, 183, 0.8), rgba(0, 0, 0, 0.8)), url("/img/data.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }

          &.science {
            background: linear-gradient(rgba(228, 0, 84, 0.8), rgba(0, 0, 0, 0.8)), url("/img/science.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }

          &.community {
            background: linear-gradient(rgba(0, 123, 15, 0.8), rgba(0, 0, 0, 0.8)), url("/img/community.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }


}
@media only screen and (min-width: 768px) {
  #home {

    .jumbo {}

    .grid {
      .animated {
        width: 50% !important;

        > div {}
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  #home {
    .jumbo {}

    .grid {
      .animated {
        width: 25% !important;

        > div {}
      }
    }
  }
}
