
#contact {
  background: #20232a;
  padding: 50px 0;
  .container {
    margin: 0 20px;
    div{
      margin: 0 auto;
      max-width: 700px;
    }
    .form-card {
      margin: 0 auto;
      flex-direction: column;

      .success-text {
        margin-top: 50px;
        text-align: center;

        p {
          margin: 10px;
          font-weight: 700;

        }
      }

      .error {
        border-radius: 5px;
        position: absolute;
        top: 0;
        color: white;
        font-size: 1.2rem !important;
        background: #f96363fc;
        padding: 10px 20px;
        width: 100%;
        transform: translate(0px, -200%);
        opacity: 0;
        transition: all 0.5s ease-in-out;
        box-shadow: #6b6b6b 0 0 6px;
        display: inherit;

        &.show {
          transform: translate(0px, -115%);
          opacity: 1;
        }

        span {
          margin-left: auto;
          transform: translate(0px, -2px);
        }
      }

      h1 {
        font-size: 3rem;
        letter-spacing: 0.5vw;
        font-weight: 700;
        color: white;
        text-shadow: #030303 1px 1px 0;
        text-align: center;
      }

      form {
        width: 100%;
        text-shadow: black 0 0 1px;
        display: flex;
        flex-direction: column;
            margin-top: 50px;

        > div {
          margin: 10px 0;
          font-weight: 100;
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          label.ui-label {
            font-size: 1.3rem;
            color: white;
            width: 30%;
          }

          span.ui-error {
            display: block;
            color: red;
            font-weight: 500;
            width: 100%;
          }

          input,
          textarea {
            margin-left: auto;
            flex-grow: 1;
            border-radius: 5px;
            height: 2rem;
            width: 50%;
            font-size: 1.1rem;
            font-family: sans-serif;
            color: #313129;
            border: none;
            text-indent: 10px;
          }

          textarea {
            font-size: 1.3rem;
            margin-top: 20px;
            width: 100%;
            height: 100px;
            resize: none;
          }
        }


      }
    }
  }
}
@media screen and (max-width: 767px) {
  #contact {
    .container .form-card {
      form > div {
        input {
          width: 100%;
          margin-top: 10px;
        }
        .ui-error{
          margin-top: 10px;
        }
      }
    }
  }
}
