#root{
  .alice-carousel{
    margin: 40px 0 40px;
    .alice-carousel__stage-item{
      width: 300px !important;
    }
    .slide{
        height: 300px;
        background: blue;
    }
    .slide1{
      height: 300px;
      background: green;
    }
    img{
      max-height: 300px;
    }

  }

}
