#root{
  .service-body{
    .alice-carousel{
      border: black solid;
          background: #003507;
          padding: 40px 0;
      > div{
        max-width: 1400px;
        margin: 0 auto;
      }
      .alice-carousel__stage-item{
        width: 300px !important;
      }
      .slide{
          height: 300px;
          background: blue;
      }
      img{
        max-height: 300px;
      }

    }
  }


}
