#hero {
  background: linear-gradient(345deg, rgba(234, 236, 255, 0.9), #d4d4d4), url("https://p7.hiclipart.com/preview/84/723/691/shading-technology-shading-decoration.jpg");
  width: 100%;
  //height: calc(100vh - 74px);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;

  .jumbo {
    position: relative;
    background: url(https://trello-attachments.s3.amazonaws.com/5d5df12f8b3a6735af0f512d/960x540/416eea08e52ccdbd1da87597d4308275/map.jpg);
    background-attachment: fixed;
    .img-wrapper {
      height: 100%;
      position: absolute;
      margin: -5px 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
          height: 60%;
            filter: drop-shadow(0px 5px 5px #202);
            display: none;
      }
    }

    .col {
      min-height: 400px;
      justify-content: center;
      display: flex;
      color: #ffffff;
      background: rgba(255, 255, 255, 0.9);
      > div {
        margin: 0 20px;
        display: flex;
        max-width: 1400px;
      }

      .title {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        line-height: 3rem;
        justify-content: center;
        width: 100%;
        h1 {
          font-family: 'Oswald', sans-serif;
          font-size: 1.2rem;
          max-width: 1200px;
          text-transform: uppercase;
          color: #20232a;
          span {
            font-size: 1.9rem;
            line-height: 1rem;
            font-weight: 600;
            color: white;
          }
        }
        .MuiButton-outlined {
          border: 1px solid #20232a;
          background: rgba(0, 128, 0, 0.7);
          font-weight: 600;
          letter-spacing: 1px;
          color: #ffffff;
          padding: 10px 30px;
          font-size: 1.1rem;
          margin-top: 30px;
          font-family: 'Oswald', sans-serif;
        }
      }

      &.header-col {
        background: green;

        background: rgba(0, 128, 0, 0.9);
        h1 {

        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #hero {

    .jumbo {
      .col {
        .title {
          h1 {
            font-size: 2.2rem;
            span {
              font-size: 3.5rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  #hero {
    .jumbo {
      .img-wrapper {
        img{
              display: block;
        }
      }
      .col {
        .title {
          margin-left: 344px;
          -webkit-transform: translateX(-10%);
          transform: translateX(-14%);
          -ms-transform:translateX(-14%);
        }
      }
    }
  }
}
