#hero {
  width: 100%;
  display: flex;
  flex-direction: column;

  .jumbo {
    position: relative;
    background: url(/img/Backgrounds/map.png);
    background-attachment: fixed;
    .img-wrapper {
      height: 100%;
      position: absolute;
      margin: 0px 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
          height: 60%;
          display: none;
      }
    }

    .col {
      min-height: 400px;
      justify-content: center;
      display: flex;
      color: #ffffff;
      background: rgba(255, 255, 255, 0.9);
      > div {
        margin: 0 20px;
        display: flex;
        max-width: 1400px;
      }

      .title {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        line-height: 3rem;
        justify-content: center;
        width: 100%;
        h1 {
          font-family: 'Oswald', sans-serif;
          font-size: 1.2rem;
          max-width: 1200px;
          text-transform: uppercase;
          color: #20232a;
          margin-bottom: 26px;
          span {
            font-size: 1.9rem;
            line-height: 1rem;
            font-weight: 600;
            color: white;
          }
        }
        .MuiButton-outlined {
          border: 1px solid #20232a;
          background: rgba(0, 128, 0, 0.7);
          font-weight: 600;
          letter-spacing: 1px;
          color: #ffffff;
          padding: 10px 30px;
          font-size: 1.1rem;
          font-family: 'Oswald', sans-serif;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          &:hover{
            box-shadow: none;
            background: rgba(0, 128, 0, 0.9);
          }
        }
      }

      &.header-col {
        background: green;

        background: rgba(0, 128, 0, 0.9);
        h1 {

        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #hero {

    .jumbo {
      .img-wrapper {
        img{
              display: none;
        }
      }
      .col {
        .title {
          h1 {
            font-size: 2.2rem !important;
            span {
              font-size: 3.5rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (width: 768px) {
  .title {

  }
}
