

#home {
  #blog{
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    background: linear-gradient(#0a640df2, #0a640df2), url('/img/Backgrounds/bg-tri.jpg');
    flex-direction: column;
    align-items: center;
    h1{
      font-size: 3rem;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 50px;
        letter-spacing: .5vw;
    }
    .blog-grid {
      display: flex;
      max-width: 1200px;
      width: 100%;
      flex-wrap: wrap;
      .animated {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        >div{
          background: rgba(255, 255, 255, 0.5);
          padding-bottom: 15px;
          border-radius: 4px;
          overflow: hidden;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          > div {
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.7rem;
            font-weight: 100;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            &.clouds {
              background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/img/Blog/blog1.jpg');
              background-repeat: no-repeat;
              background-size: cover;
            }

            &.data {
              background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/img/HeroSquares/data.jpg");
              background-repeat: no-repeat;
              background-size: cover;
            }

          }
        }

        h3{
          font-size: 1.2rem;
          margin-top: 10px;
          color: #20232a;
          margin-left: 10px;
        }
      }
    }


}
}

@media only screen and (min-width: 768px){
  #home {
    #blog{
      padding: 50px 20px;

      h1{
        font-size: 3rem;
            font-family: 'Oswald', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 50px;
      }
      .blog-grid {
        display: flex;
        max-width: 1200px;
        width: 100%;
        flex-wrap: nowrap;
        .animated {
          width: 100%;
          padding: 10px;
          margin: 0 auto;

        }
      }


  }
  }
}
