@import 'sass/reset';
@import 'sass/variables';
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Cute+Font&display=swap');

body {
  padding: 54px 0 0;
  background: url(/img/Backgrounds/map.jpg);
  background-attachment: fixed;
  background-size: cover;
}
#root-link{
  min-height: 100vh;
}
#root,
body,
html {
  height: 100%;
  color: $light-black;

  h1 {
    font-family: 'Oswald', sans-serif;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .MuiButton-outlined {
    border: 1px solid #20232a;
    background: rgba(0, 128, 0, 0.9);
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 1.1rem;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.8), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    align-self: center;

    &:hover {
      box-shadow: none;

      background: rgba(0, 128, 0, 0.7);
    }
  }
}

@media only screen and (min-width: 769px){
  body{
    padding: 62px 0 0;
  }
}
