@import 'sass/reset';
@import 'sass/variables';

html, body, #root {
    height: 100%;
    color: $light-black;
}

body{
  padding: 74px 0 0 0;
}

#root{

}

.container{
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  > div{
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
  }
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
