.blog {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  flex-direction: column-reverse;
  .blog-grid {
    flex: auto;
    margin-top: -10px;

    .image-element-class {
      width: 100%;
      padding: 10px;

      &:nth-child(odd) {
        padding: 10px;
      }

      > div {
        padding: 10px;
        border-radius: 4px;
        box-shadow: 5px 5px rgba(94, 104, 151, 0.30), -5px 5px rgba(94, 104, 151, 0.3);
            background: #fbfefe;
        h4 {
          font-size: 1.3rem;
          font-weight: 500;
          margin: 15px 10px;
              color: #aab1ca !important;
        }

        p {
          line-height: 1.4rem;
          padding: 10px 20px;
          font-size: 1.2rem;
          border-radius: 4px;
          font-weight: 100;
        }
      }

      img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
      }
    }
  }
  .sidebar {
    width: 100%;
    display: block;

    > div{
      padding: 20px;
      /* background: red; */
      border-radius: 4px;
      .selected{
        background: rgb(238, 242, 253);
      }
      h4{
        font-size: 2rem;
        text-align: center;
        font-weight: 100;
        padding-bottom:10px;

        i{
          margin-left: 20px;
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
      ul{
        height: 0px;
        overflow: hidden;
        transition: height .5s ease-in-out;
        &.open{
          height: 322px;
        }
        li{

          p{
            cursor: pointer;
            color: blue;
            text-transform: capitalize;
              padding: 15px 20px;
          }
        }
      }

    }
  }
}

@media only screen and (min-width: 768px) {
  .blog {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;

    .blog-grid {
      flex: auto;

      .image-element-class {
        width: 50%;

        img {
          width: 100%;
        }
      }
    }

    .sidebar {

    }
  }
}

@media only screen and (min-width: 1200px) {
  .blog {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    flex-direction: row;
    .blog-grid {
      flex: auto;

      .image-element-class {
        width: 50%;

        img {
          width: 100%;
        }
      }
    }

    .sidebar {
      width: 300px;
      >div{
        h4{
          i{
            display: none;
          }
        }
      }
      ul{
        height: auto !important;

      }
    }
  }
}
