#root-link {
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("/img/Backgrounds/bg-tri.jpg");

  .jumbo {
    min-height: 300px;
    position: relative;
    background-attachment: fixed !important;
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-repeat: no-repeat !important;

    .corner-icon {
      position: absolute;
      width: 200px;
      height: 200px;
      margin: 20px;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.9);
          filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.64));
      border-radius: 50%;

      img {
        width: 200px;
        padding: 30px;
      }
    }

    &.services {
      background:url("/img/Backgrounds/service_bg.jpg");
    }

    &.cloud {
      background:url("/img/Backgrounds/clouds_large.jpg");
      background-position: bottom;
    }
    &.data {
          background: linear-gradient(rgba(0, 67, 255, 0.70), rgba(255, 0, 0, .8)), url('/img/Backgrounds/data.jpg');
      background-position: bottom;
    }
    &.science{
          background: linear-gradient(rgba(98, 243, 123, 0.7), rgb(51, 0, 255)), url('/img/Backgrounds/science.jpg');
      background-position: bottom;
    }
    &.community{
      background:url("/img/Backgrounds/stl.jpg");
      background-position: center;
    }

    h1 {
      color: green;
      font-weight: 600;
      font-size: 3rem;
      border-top-left-radius: 100%;
      width: 100%;
      text-shadow: 0 0 14px rgba(0, 0, 0, 0.27), -2px 0 1px #20232a;
      background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("/img/Backgrounds/bg-tri.jpg");
          box-shadow: rgba(41, 41, 41, 0.2) 0px -5px 6px;
      height: 154px;
      text-transform: uppercase;
      letter-spacing: 1rem;
      text-align: right;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      z-index: 2;
      &.long-word{
        font-size: 10vw;
        letter-spacing: .5rem;
        text-align: center;
      }
    }
  }

  .service-body {
    margin: 0 20px;
    padding: 50px 0;


    .body-wrapper {
      max-width: 1400px;
      margin: 0 auto;

      .title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 0 50px;

        h2 {
          font-size: 2rem;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 25px;
          font-weight: 100;
        }

        p {
          font-size: 1.2rem;
          line-height: 2rem;
          text-align: center;
        }
      }

      .selection-body {
        display: flex;
        flex-direction: column;
        border-top: solid #8282ff;
        position: relative;

        > div {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
          background: #fcffff;
          padding: 20px 0;
            margin-top: 30px;
          .icon {
            width: 100%;
            display: flex;
            margin-bottom: 20PX;
            justify-content: center;
            .animated {
                width: 100%;
            }
            img {
              width: 100%;
              max-width: 300px;
              filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.64));
            }
          }

          .info {
            text-align: center;

            a {
              color: #8282ff;
              transition: all 0.5s ease-in-out;

              &:hover {
                text-shadow: 0 5px 4px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.23);
                transform: scale(1.1);
              }
            }

            &.list{
              ul{
                margin-top: 20px;
              }
            }

            .grid-50 {
              display: flex;
              justify-content: space-around;
              &.wrap{
                flex-wrap: wrap;
                h3{
                  margin-bottom: 20px;
                }
              }
              li {
                display: flex;
                flex-direction: column;
                &:not(:last-child){
                  margin-bottom: 40px;
                }
                h3{
                  margin-bottom: 0;
                  min-width: 300px;
                }
                p {
                  margin-bottom: 0;
                }
              }
            }

            ul {
              text-align: left;

              li {
                margin-bottom: 20px;
                ul{
                  margin-top: 0;
                }
                p {
                  border-left: solid green;
                  padding: 0 0 0 30px;
                }

                &:last-child {
                  p {
                    margin-bottom: 0;
                  }
                }
              }
            }

            h3 {
              font-size: 1.5rem;
              text-transform: uppercase;
                  margin-bottom: 40px;
              font-weight: 500;
            }

            p {
              &:last-child{
                margin-bottom: 0px;
              }
              font-size: 1.2rem;
              line-height: 1.4rem;
              margin-bottom: 20px;
              text-align: left;
              margin-right: 10px;
            }
          }
        }

        .reverse {
          &.col-reverse{
            flex-direction: column-reverse;
          }
            .icon {
              margin-right: 0;

          }
        }
      }
    }
  }
}
@media only screen and(min-width: 768px) {
  #root-link {
    .jumbo {
      min-height: 400px;

      &.services {}

      h1 {
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        &.long-word{
          font-size: 4.5rem;
        }
      }
    }

    .service-body {
      .body-wrapper {
        .title {
          h2 {
            font-size: 2.5rem;
          }

          p {
            font-size: 1.5rem;
            line-height: 2.5rem;
            text-indent: 5rem;
            font-weight: 500;
          }
        }

        .selection-body {
          > div {
            flex-direction: row;
            margin: 30px 0 10px;
            .icon {
              margin-right: 20px;
              margin-bottom: 0;
              width: 40%;
              justify-content: flex-start;
              img {}
            }

            .info {
              max-width: 60%;
              text-align: left;


              &.no-img {
                text-align: center;
                max-width: 1200px;
                    width: 100%;
              }
              &.list{
                max-width: 25%;
                ul{
                  margin-top: 0;
                }
              }
              h3 {
                font-size: 2rem;
              }

              li {
                p {
                  text-indent: 0;
                }
              }

              p {
                font-size: 1.5rem;
                line-height: 2rem;
              }

              .grid-50 {
                li {
                  flex-direction: row;

                  width: unset;
                  h3{
                      min-width: 300px;
                  }
                  p {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }

          .reverse {
              flex-direction: row-reverse !important ;
              .icon {
                margin-left: 20px;
                margin-right: 0;
                justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}
