#article{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  > div{
    .img-wrapper{
      max-height: 500px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 100%;
      }
    }

    .article-body{
      line-height: 2.4rem;
      font-size: 1.2rem;
      text-indent: 2rem;
      background: linear-gradient(#fbf8f5, #c5c5c5);
      padding: 0px 20px;
      box-shadow: black 0 5px 10px;
      .text-body{
        p{
          color: #20232a;
          &:not(:last-child){
            margin-bottom: 20px;
          }
        }
      }
    }

    .title-bar{
      h4{
        font-size: 3rem;
        margin: 15px 0 20px;
        color: green;
        font-weight: 500;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 1px;
      }
      p{
        color: white;
        margin-bottom:5px;
      }
    }

  }



}

@media only screen and (min-width: 1024px){
  #article{
    margin-right: 5px;
    > div{
      .img-wrapper{
        img{

        }
      }

      .article-body{
        line-height: 2.4rem;
        font-size: 1.2rem;
        text-indent: 2rem;
        padding: 0px 40px;
        p{

          &:not(:last-child){

          }
        }
      }

      .title-bar{
        h4{

        }
        p{

        }
      }

      &.info{

      }
    }
  }
}

@media only screen and (min-width: 1400px){
  #article{
    margin-right: 5px;
    flex-wrap: nowrap;
    > div{
      .img-wrapper{
        img{

        }
      }
      .article{
        height: 100%;
      }
      .article-body{
        padding: 0px 100px;
        height: 100%;
        p{

          &:not(:last-child){

          }
        }
      }

      .title-bar{
        h4{

        }
        p{

        }
      }

      &.info{

      }
    }
  }
}
