#article{
  max-width: 1000px;
  h4{
    font-size: 3rem;
        margin-bottom: 20px;
        color: green;
        font-weight: 500;
        font-family: 'Oswald', sans-serif;
  }
  p{
    margin-bottom: 20px;
    color:white;
  }
  img{
    width: 100%;
    margin-bottom: 40px;
    max-height: 500px;
    padding: 20px;
    border-radius: 4px;
    background: linear-gradient(#fbf8f5, #c5c5c5);
    box-shadow: black 0 5px 10px;
  }
  .article-body{
    line-height: 2.4rem;
    font-size: 1.2rem;
    text-indent: 2rem;
    background: linear-gradient(#fbf8f5, #c5c5c5);
    border-radius: 4px;
    padding: 40px 20px;
    box-shadow: black 0 5px 10px;
    p{

color: #20232a;

    }
  }
}
