#info {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 40px 0;
  background: url(/img/Backgrounds/hex-pattern.png), linear-gradient(rgb(32, 35, 42), rgb(32, 35, 42));
      box-shadow: inset 0 5px 8px black ,  inset 0 -5px 8px black;

  .info-wrapper {
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;

    > div {
      max-height: 400px;

      > div {
        box-shadow: inset #000000 0px 0px 5px 4px;
        display: flex;
        overflow: hidden;
      }

      &.item {
        width: 100%;

        &:nth-child(2) {
          padding: 10px 0;
        }

        &:nth-child(3) {
          padding: 10px 0;
        }

        &:nth-child(4) {
          padding: 10px 0;
        }

        &:nth-child(5) {
          padding: 10px 0 0;
        }

        > div {
          height: 100%;
          width: 100%;
          border-radius: 4px;
          align-items: flex-end;
          color: white;

          .hub-info {
            background: rgba(0, 0, 0, 0.8);
            height: 16%;
            transition: all 0.5s ease-in-out;
            display: flex;
            flex-direction: column;
            width: 100%;

            &:hover {
              height: 100%;
              background: rgba(0, 0, 0, 0.6);

              img {
                transform: rotate(180deg);
              }
            }

            .title {
              display: flex;
              align-items: center;
              font-weight: 100;

              img {
                max-height: 40px;
                left: 20px;
                filter: drop-shadow(0px 0px 2px white);
                transition: all 0.5s ease-in-out;
              }

              h4 {
                font-size: 1.3rem;
                text-align: center;
                width: 100%;
                padding: 10px 0;
                background: rgba(33, 36, 42, 0.74);
              }
            }

            .body {
              padding: 10px 20px;
              flex-grow: 1;
              display: flex;
              flex-direction: column;

              p {
                max-width: 500px;
                margin: 20px auto;
                font-size: 1.2rem;
                line-height: 1.4;
                text-align: center;
              }

              a {
                margin-top: auto;
                align-self: flex-end;

                .MuiButton-outlined {
                  background: rgb(107, 0, 127);
                }
              }
            }
          }

          &:before {
            content: '';
            display: block;
            padding-top: 100%;
          }
        }
      }

      &.grid-header {
        width: 100%;
        padding-bottom: 10px;

        > div {
              background: radial-gradient(circle, #20232a, rgba(32, 35, 42, 0.98) 40%, #20232a);
          height: 100%;
          width: 100%;
          border-radius: 4px;
          justify-content: center;
          align-items: center;

          h3 {
            font-size: 4rem;
                text-shadow: #20232a 0 0 5px, #20232a 0 0 2px, #20232a 0 0 5px, #20232a 0 0 1px;
                color: white;
                font-family: 'Audiowide', cursive;
                text-align: center;
          }

          &:before {
            content: '';
            display: block;
            padding-top: 50%;
          }
        }
      }
    }
  }
}
//ipad
@media only screen and (min-width: 768px) {
  #home {
    #info {
      padding: 40px 0;

      .info-wrapper {
        margin: 0 20px;

        > div {
          max-height: 500px;

          &.item {
            width: 50%;

            &:nth-child(2) {
              padding: 10px 10px 10px 0;
            }

            &:nth-child(3) {
              padding: 10px 0 10px 10px;
            }

            &:nth-child(4) {
              padding: 10px 10px 0 0;
            }

            &:nth-child(5) {
              padding: 10px 0 0 10px;
            }

            > div {
              &:before {
                padding-top: 100%;
              }
            }
          }

          &.grid-header {
            width: 100%;

            h3 {
            font-size: 6rem !important;
            }

            > div {
              &:before {
                padding-top: 50%;
              }
            }
          }
        }
      }
    }
  }
}
//ipad pro and up
@media only screen and (min-width: 1025px) {
  #home {
    #info {
      padding: 60px 0;

      .info-wrapper {
        margin: 0 20px;

        > div {
          max-height: 400px;

          &.item {
            width: 33.33%;

            &:nth-child(2) {
              padding: 0 0 10px 10px;
            }

            &:nth-child(3) {
              padding: 10px 10px 0 0;
            }

            &:nth-child(4) {
              padding: 10px 10px 0;
            }

            &:nth-child(5) {
              padding: 10px 0 0 10px;
            }

            > div {
              &:before {
                padding-top: 100%;
              }
            }
          }

          &.grid-header {
            width: 66.66%;
            padding: 0 10px 10px 0;
            h3 {
            font-size: 7rem;
            }
            > div {
              &:before {
                padding-top: 50%;
              }
            }
          }
        }
      }
    }
  }
}
